In [119]:
## Pandas is a fast & flexible library for data analysis and data manipulation built on top of Python 

# Import dependencies 

import pandas as pd

In [120]:
## Pandas can read data from several file types, including CSV, JSON & SQL


# Read data from csv file by using read_csv function 

pd.read_csv('Desktop/stocks/MSFT.csv')

,Date,Open,High,Low,Close,Adj Close,Volume
0,1986-03-13,0.088542,0.101562,0.088542,0.097222,0.062378,1031788800
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.064606,308160000
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065720,133171200
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.064049,67766400
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.062935,47894400
...,...,...,...,...,...,...,...
8579,2020-03-26,148.399994,156.660004,148.369995,156.110001,156.110001,64568100
8580,2020-03-27,151.750000,154.889999,149.199997,149.699997,149.699997,57042300
8581,2020-03-30,152.440002,160.600006,150.009995,160.229996,160.229996,63420300
8582,2020-03-31,159.399994,164.779999,156.559998,157.710007,157.710007,77927200
8583,2020-04-01,153.000000,157.750000,150.820007,152.110001,152.110001,57858300

In [121]:
# Dataframes are a datatype used in Pandas, they are a two-dimensional labelled data structure
# Columns within a Dataframe can contain different data types, similar to an Excel file or SQL table

# Assign the data within the CSV file to a variable 

DataFrame = pd.read_csv('Desktop/stocks/MSFT.csv')

In [122]:
# Return top 5 rows by using the .head() function | .tail() will return the bottom 5 rows

DataFrame.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101562  0.088542  0.097222   0.062378  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.064606   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.065720   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.064049    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.062935    47894400

In [125]:
# Add new column into DataFrame for the stock ticker symbol as this was not included in original data set 

DataFrame['Ticker'] = 'MSFT'

In [126]:
# Calculate relative change between Open and Close price 

# Calculate delta
relativeChange = DataFrame['Close'] - DataFrame['Open']

# Delta / Original Value (Open price) * 100 
DataFrame['Relative Price Change'] = relativeChange / DataFrame['Open'] * 1

# Format as percentage 
DataFrame['Relative Price Change'] = DataFrame['Relative Price Change'].map('{:.2%}'.format)

# Print result 
DataFrame

,Date,Open,High,Low,Close,Adj Close,Volume,Relative Price Change,Ticker
0,1986-03-13,0.088542,0.101562,0.088542,0.097222,0.062378,1031788800,9.80%,MSFT
1,1986-03-14,0.097222,0.102431,0.097222,0.100694,0.064606,308160000,3.57%,MSFT
2,1986-03-17,0.100694,0.103299,0.100694,0.102431,0.065720,133171200,1.72%,MSFT
3,1986-03-18,0.102431,0.103299,0.098958,0.099826,0.064049,67766400,-2.54%,MSFT
4,1986-03-19,0.099826,0.100694,0.097222,0.098090,0.062935,47894400,-1.74%,MSFT
...,...,...,...,...,...,...,...,...,...
8579,2020-03-26,148.399994,156.660004,148.369995,156.110001,156.110001,64568100,5.20%,MSFT
8580,2020-03-27,151.750000,154.889999,149.199997,149.699997,149.699997,57042300,-1.35%,MSFT
8581,2020-03-30,152.440002,160.600006,150.009995,160.229996,160.229996,63420300,5.11%,MSFT
8582,2020-03-31,159.399994,164.779999,156.559998,157.710007,157.710007,77927200,-1.06%,MSFT
8583,2020-04-01,153.000000,157.750000,150.820007,152.110001,152.110001,57858300,-0.58%,MSFT